
.g_button{
  font-family: Mulish;
  font-style: normal;
  width:50%;
  background: rgba(33, 130, 94, 0.5);
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: 24px;
  border-radius: 20px;
}

.g_button:hover {
  background-color: #21825e;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.g_button:active {
  transform: translateY(4px);
}

.y_button{
  font-family: Mulish;
  font-style: normal;
  background: rgba(248, 231, 105, 0.5);
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: 24px;
  border-radius: 20px;
}

.y_button:hover {
  background-color: rgb(248, 231, 105);
  color: grey;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.y_button:active {
  transform: translateY(4px);
}
