ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

li{
  float: left;
  border-right: 0.5px solid #bbb;
  background-color:#333;
}

li:last-child{
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 16px;
  font-size: 19px;
  text-decoration: none;

}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
