.label{
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding: 5px;
}

.input{
  font-size: larger;
  width: 95%;
  margin-bottom: 20px;
}

.btn{
  color: white;
  background-color: red;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.messages{
  display: flex;
  justify-content: center;
}

.error{
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
}

.success{
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
}
